DATABASE_URL=postgresql://postgres:yourpassword@postgres:5432/content_db

POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=content_db

REDIS_URL=redis://redis:6379

RAPIDAPI_KEY=

LLM_SERVICE_URL=http://llm:8004
