DATABASE_URL=postgresql://postgres:yourpassword@postgres:5432/content_db

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1000

POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=content_db

REDIS_URL=redis://redis:6379
